.todoItem{
  background-color: #fff;
  display: flex;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-top: 20px;
  margin-left: 10px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      & ~ .checkmark {
        background-color: #db2222;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      & ~ .checkmark:after {
        opacity: 0;
        visibility: visible;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  .checkboxItem {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: #db2222;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:checked ~ .checkmark:after {
      opacity: 0;
      visibility: visible;
      // 
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      // 
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 50%;


    &::before {
      content: "";
      // position: absolute;
      // left: 6px;
      // top: 3px;
      // width: 3px;
      // height: 6px;
      // border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      @apply absolute left-2 top-1 w-1 h-2 border-solid border-white;
    }


    &:after {
      content: "";
      position: absolute;
      opacity: 0;
      visibility: visible;
      left: 6px;
      top: 3px;
      width: 3px;
      height: 6px;
      border: solid white;
      // 
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      // 
      // @apply opacity-0;
    }
  }

}
.active-disable {
  text-decoration: line-through;
}

.todo-item_btn {
  align-self: center;
  float: right;
  padding-left: 6px;
}

.todo-list 
 {

   ul {
  padding: 0 10px 10px 10px;
  list-style-type: none;
}
li {
  width: 80%;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 4px;
  &:hover {
    opacity: 0.7;
    text-decoration: line-through;
  }
  
}
 }

 .btn {
  padding: 10px;
  border-radius: 4px;
  outline: transparent;
  border: transparent;

 } 
 .btn:hover{
   background-color: rgb(214, 214, 214);
 }
 .btn-edit {
    margin-right: 5px;
    color: #4d4d4d;
   
 }