@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
  background: rgb(219, 219, 219);
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 8px 16px #4d4d4d;
  padding: 20px;
}

.navbar {
  padding: 5px;
  text-align: center;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

form {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 6px 0;
  border: transparent;
  outline: transparent;
  box-shadow: 0 0 4px 0 #4d4d4d;
}

input[type="submit"] {
  margin: 10px auto;
  padding: 10px;
  border: 0;
  display: block;
}

.start {
  position: fixed;
  background-color: #000;
  color: white;
  inset: 0;
  text-align: center;
  z-index: 9999;
  overflow: auto;
}
.start-name {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate3d(50%, -50%,0);
  overflow: hidden;
}
.start-name h1 {
  opacity: 0;
}
.start-open {
  position: fixed;
  background-color: #fff;
  inset: 0;
  transform: scale(0);
  box-shadow: 0 0 2px 3px #000;
  border-radius: 40%;
  z-index: 9999;

}